{# {{attach_library('banner_module/global-library')}} #}
{{attach_library('banner_module/banner-slick')}}

{% if entities|length > 0 %}
	<div class="banner-class">
		{% for entity in entities %}
			<div class="image-container {{ entity.getViewMode }}">
				<img src="{{ entity.getRelativeUrl("wide") }}"/>
				<span class="title {{ entity.getPositionTitle }}">
					{{ entity.getSlideTitle }}
				</span>
				<span class="description">
					{{ entity.getSlideDescription }}
				</span>
				<div class="read-more">
					<a target="_blank" href="{{ entity.getActionLink }}">
						{{ entity.getActionButtonLabel }}
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}