{{attach_library('banner_module/global-library')}}
{{attach_library('banner_module/banner-slick')}}

<div class="your-class">
	{% for el in slide %}
		<div class="image-container {{ el.getViewMode }}">
			<img src="{{ el.getRelativeUrl }}"/>
			<span class="title {{ el.getPositionTitle }}">
				{{ el.getSlideTitle }}
			</span>
			<span class="description">
				{{ el.getSlideDescription }}
			</span>
			<div class="read-more">
				<a target="_blank" href="{{ el.getActionLink }}">
					{{ el.getActionButtonLabel }}
				</a>
			</div>
		</div>
	{% endfor %}
</div>

<section class="bannerHere"></section>
